.product-detail-content
  .title
    padding 10px
    font-size 20px
    color #2A5C92
    background #F2F2F2
    font-weight bold
  .top-container
    background white
    border-top solid #D3D3D3 1px
    border-bottom solid #D3D3D3 1px
    height 122px
    display flex
    .image-container
      min-width 120px
      height 100%
      padding 10px
      img
        size 100px
    .right-box
      display flex
      padding-left 10px
      border-left 1px #D3D3D3 solid
      .info-bar
        margin auto
        font-size 14px
        color #6F6F6F
  .content-container
    padding 10px
    color #6F6F6F
    background white
  .comment-button
    position absolute
    bottom 0
    padding 0
    size 100% 40px
    border-style none
    background #2A5C92
    color white
    text-align center
    font-size 20px