<template name="productListItemUser">

  <div class="product-list-item-user list-item">
    <div class="left-box">
      <div class="image-container">
        {{#if hasElement images}}
          <img src={{firstImage}}>
        {{/if}}
      </div>
    </div>
    <div class="right-box">
      <div class="user-bar">
        {{>userAvatar user}}
        <div class="user-name">{{userName user}}</div>
      </div>
      <div class="title-bar">{{title}}</div>
      <table class="info-bar">
        <tr>
          <td class="old">新旧：{{old}}</td>
          <td class="price">价格：{{cost}}</td>
        </tr>
      </table>
    </div>
  </div>

</template>