.product-list-item-user
  border-bottom solid 1px #C3C3C3
  height 120px
  padding 10px
  .left-box
    float left
    width 100px
    margin-right 10px
    height 100%
    .image-container
      size 100%
      background #cccccc
      img
        size 100px
  .right-box
    margin-left 110px
    .user-bar
      height 30px
      .user-avatar
        float left
        max-height 30px
        img
          size 30px
      .user-name
        padding-top 6px
        padding-left 36px
        font-size 10px
        color #88D249
    .title-bar
      margin 2px 0
      color #184A83
    table.info-bar
      font-size 10px
      width 100%
      color #6F6F6F

