.search
  .search-bar
    background #EAEBED
    padding 10px
    height 50px
    .search-button
      padding 0 10px
      text-align left
      color #9B9B9B
      background-color white
      border-radius 10px
      border-style none
      width 100%
      min-height 0
      height 30px
      font-size 14px
      line-height 30px
      display flex
      vertical-align top
      .icon:before
        font-size 18px
        line-height 30px
      .query-input
        padding 0
        padding-left 2px
        flex 10
        height 100%
  .result-loading
  .no-results
    text-align center