<template name="search">

  {{#contentFor "headerTitle"}}
    <h1 class="title">搜索{{label}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-light" text=false}}
  {{/contentFor}}

  {{#ionView class='search'}}
    {{#ionContent}}

      <div class="search-bar">
        <div class="search-button">
          <i class="icon ion-ios-search"></i>
          {{>esInput index=index placeholder=placeholder class='query-input' reactive='false' event='enter'}}
        </div>
      </div>

      {{#ionList}}

        {{#esEach index=index}}

          {{#ionItem class='result-item post' id=_id category=category}}
            {{title}}
          {{/ionItem}}

        {{/esEach}}
      {{/ionList}}

      {{>esLoadMoreButton index=index}}

      {{#ifEsHasNoResults index=index}}
        <div class="no-results">没有结果。</div>
      {{/ifEsHasNoResults}}

      {{#ifEsIsSearching index=index}}
        <div class="result-loading">加载中...</div>
      {{/ifEsIsSearching}}

    {{/ionContent}}
  {{/ionView}}

</template>