<template name="journeyUserItem">

  <div class='journey user-item'>
    <div class="above-box">
      <div class="avatar-container">
        {{>userAvatar user}}
      </div>
      <div class="above-right">
        <a href="{{userUrl user}}">
          {{userName user}}
        </a>
        <div class="title-container">
            <label class="title">{{title}}</label>
        </div>
      </div>

    </div>
    <div class="under-box">
      <div class="content-container">
        <table>
          <tr>
            <td>地点：{{location}}</td>
            <td>级别要求：{{level}}</td>
            <td>时间：<label class="date">{{dateString date}}</label></td>
          </tr>
          <tr>
            <td>费用：{{cost}}</td>
            <td>人数：{{peopleCount}}（{{peopleCount}}/{{peopleCountMax}}）</td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
  </div>

</template>
