.journey.user-item
  background #f8fbfd
  display inline-block
  padding 10px
  border-bottom solid 1px #badef1
  .above-box
    display flex
    flex 1
    min-width 56px
    text-align left
    color #a4cf5f
    font-weight bold
    margin-right 10px
    .avatar-container
      size 4em
      @import '../../../lib/common/client/views/user_avatar.import.styl'
    .above-right
      //display:flex
      a
        font-size 1.2em
      .title
        font-weight bold
        color #2b9ad5
        font-size 1.5em

  .under-box
    flex 5

      //.date
      //  position absolute
      //  right 10px
      //  color #ed9606
    .content-container
      //display flex
      width 100%
      color #898a8b
      table
        font-size 1.2em
        width 100%
        tr
          width 100%
          td
            width 60%
            padding-top 0em
