@require 'nib'

@require '../../../lib/common/client/views/helpers.import.styl'
@require '../../../lib/common/client/views/layout_content.import.styl'
@require '../../../lib/post/client/views/main.import.styl'

@require '../../../modules/login/client/views/main.import.styl'
@require '../../../modules/user/client/views/main.import.styl'
@require '../../../modules/profile/client/views/main.import.styl'

@require '../../../modules/journey/client/views/main.import.styl'
@require '../../../modules/product/client/views/main.import.styl'
@require '../../../modules/say/client/views/main.import.styl'

@require '../../../modules/search/client/views/main.import.styl'

a
  color inherit
  text-decoration none

.bar-header
  border-bottom-width 0

.tabs
  border-top-width 0