@import 'nib'

@import '../../../modules/login/client/views/login.import.styl'
@import '../../../modules/my_card/client/views/my_card.import.styl'
@import '../../../modules/note/client/views/main.import.styl'
@import '../../../modules/journey/client/views/main.import.styl'

@import '../../../lib/common/client/views/favorite_button.import.styl'

a
  color inherit
  text-decoration inherit