@require 'nib'

@require '../../../modules/login/client/views/login.import.styl'
@require '../../../modules/my_card/client/views/my_card.import.styl'

@require '../../../lib/post/client/views/main.import.styl'
@require '../../../modules/journey/client/views/main.import.styl'
@require '../../../modules/product/client/views/main.import.styl'

@require '../../../lib/common/client/views/favorite_button.import.styl'

a
  color inherit
  text-decoration inherit