@require 'nib'

@require '../common/photoswipe.import.styl'
@require '../common/helpers.import.styl'
@require '../common/layout_content.import.styl'

@require '../login/main.import.styl'
@require '../user/main.import.styl'
@require '../profile/main.import.styl'
@require '../certificate/main.import.styl'
@require '../post/main.import.styl'
@require '../search/main.import.styl'

a
  color inherit
  text-decoration none

.bar-header
  border-bottom-width 0

.tabs
  border-top-width 0