<template name="profileMain">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{strProfile}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" href=preMainRoute text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="logout">登出</button>
  {{/contentFor}}

  {{#ionView class='profile'}}

    {{#ionContent}}

      <div class="top">
        <div class="avatar" data-action="change-avatar">
          <img src={{avatarUrl}}>
        </div>
        <div class="base-info">
          <a href="/profile?user={{user}}&type=nickname">{{nickname}}</a>
          <a href="/profile?user={{user}}&type=location">{{location}}</a>
        </div>
        <a href="/profile?user={{user}}&type=qr" class="qr-code">
        </a>
      </div>

      {{#ionList}}

        {{#each lines}}
          {{#ionItem href=href iconRight=true}}
            {{label}}：{{data}}
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}
        {{/each}}

      {{/ionList}}

    {{/ionContent}}

    {{>userTabBar}}

  {{/ionView}}

</template>