@import '../../../modules/profile/client/views/qr.import.styl'

.profile
  .top
    padding 1em
    display flex
    .avatar
      flex 1
      margin auto
      size-all 80px
      img
        size 100%
    .base-info
      flex 1
      margin-left 1em
      margin-right 1em
      a
        display block
    .qr-code
      display block
      flex 1
      margin auto
      size-all 80px
      canvas
        size 100%
  .list
    .item
      padding-top 0.5em
      padding-bottom 0.5em

.profile-input
  padding 10px