<template name="profileSignature">

  {{#contentFor "headerTitle"}}
    <h1 class="title">签名</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="save-signature">保存</button>
  {{/contentFor}}

  {{#ionView class='profile-signature'}}

    {{#ionContent}}
      <textarea class="profile-input" autofocus rows="5" maxlength="100" placeholder="请输入您的签名，最多100个字">{{signature}}</textarea>
    {{/ionContent}}

  {{/ionView}}

</template>