<template name="profileWechat">

  {{#contentFor "headerTitle"}}
    <h1 class="title">微信</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="save-wechat">保存</button>
  {{/contentFor}}

  {{#ionView class='profile-wechat'}}

    {{#ionContent}}
      <input class="profile-input" autofocus type="text" maxlength="50" placeholder="请输入您的微信号" value={{wechat}}>
    {{/ionContent}}

  {{/ionView}}

</template>