.image-uploader
  .input-button
    display block
  .images
    @import '../../../lib/image/client/views/image_uploaded.import.styl'
    .progress
      display none
      margin 1px
      clear left
      size-all 96px
      font-size 20px
      text-align center
      padding-top 36px