<template name="login">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}

  {{#if fromOther}}

    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton class="button-light" text=false}}
    {{/contentFor}}

  {{else}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right button-light" data-action="skip-login">跳过</button>
    {{/contentFor}}

  {{/if}}

  {{#ionView class='login'}}
    {{#ionContent}}

      {{> atForm}}

    {{/ionContent}}
  {{/ionView}}

</template>

