<template name="signIn">

  {{#contentFor "headerTitle"}}
    <h1 class="title">登录</h1>
  {{/contentFor}}

  {{#if fromOther}}

    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton class="button-light" text=false}}
    {{/contentFor}}

  {{else}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right button-light" data-action="skip-sign-in">跳过</button>
    {{/contentFor}}

  {{/if}}

  {{#ionView class='signIn'}}
    {{#ionContent}}

      {{> atForm}}

    {{/ionContent}}
  {{/ionView}}

</template>

