<template name="postDetail">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="more-button button button-clear pull-right button-light ion-more icon" data-action="post-more"></button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}

  {{#contentFor "popup"}}
    {{>photoswipe}}
  {{/contentFor}}

  {{#ionView class="post-detail"}}
    {{#ionContent}}

      {{>Template.dynamic template=contentTemplate}}

    {{/ionContent}}

  {{/ionView}}
</template>
