.post-detail
  width 100%
  background #f2f2f2
  @import 'note/detail_content.import.styl'
  @import 'say/detail_content.import.styl'
  @import 'journey/detail_content.import.styl'
  @import 'product/detail_content.import.styl'

.ionic-body
  .nav-bar-block
    .favorite-button.post-detail-favorite-button
      right 2.5em