<template name="postList">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}

  {{#ionView class='post-list'}}
    {{#ionContent}}

      {{#if showCategory2s}}

        <div class="category2-container">
          {{#each category2s}}
            <div class="tab category2 {{../category}} {{this}} {{isSelect this}}">
              <label>{{title2}}</label>
            </div>
          {{/each}}
        </div>

      {{/if}}

      {{#unless user}}
        {{>searchBar}}
      {{/unless}}

      <div class='item-list'>
        {{#each list}}
          {{>Template.dynamic template=itemTemplate}}
        {{/each}}
      </div>

      {{#if hasMore}}
        <button class="loadmore-button">更多</button>
      {{/if}}

    {{/ionContent}}

    {{#unless favoritesby}}
      {{>tabBar}}
    {{/unless}}

  {{/ionView}}

</template>
