.certificate-list
  .item-list
    .certificate-item
      background #f8fbfd
      display flex
      border-bottom solid 1px #badef1
      .left-box
        margin 1em
        flex 1
        size-all 100px
        img
          size 100%
      .right-box
        margin auto
        flex 2
        label
          display block
          color #686868
          .item-label
            color #1A5891