.certificate-list
  .item-list
    .certificate-item
      background #f8fbfd
      display flex
      padding 0.5em
      border-bottom solid 1px #badef1
      .left-box
        flex 1
        size-all 80px
        img
          size 100%
      .right-box
        margin-left 0.5em
        flex 2