.journey-list-item-user
  border-bottom solid 1px #C3C3C3
  padding 10px
  .left-box
    float left
    width 60px
    margin-right 10px
    height 100%
    .user-avatar
      img
        size 60px
  .right-box
    margin-left 70px
    .user-bar
      font-size 10px
      color #88D249
    .title-bar
      margin 2px 0
      color #184A83
    table.info-bar
      font-size 10px
      width 100%
      color #6F6F6F

