<template name="journeyItem">

  {{#if isOfficial}}

    <div class='journey-item official'>
      <img src={{firstPicture}}>
      <div class="title-container">
        <label class="title">{{title}}</label>
        <label class="owner">
          <a href="{{ownerUrl owner}}">
            {{ownerName owner}}
          </a>
        </label>
        <label class="date">{{dateString date}}</label>
      </div>
    </div>

  {{else}}

    <div class='journey-item user'>
      <img src={{firstPicture}}>
      <div class="title-container">
        <label class="title">{{title}}</label>
        <label class="owner">
          <a href="{{ownerUrl owner}}">
            {{ownerName owner}}
          </a>
        </label>
        <label class="date">{{dateString date}}</label>
      </div>
      </div>

  {{/if}}

</template>
