@import 'nib'

@import 'note/note_list.import.styl'
@import 'journey_list.import.styl'
@import 'product_list.import.styl'
@import 'say_list.import.styl'

@import 'note/note_detail.import.styl'
@import 'note/note_creator.import.styl'

a
  color inherit
  text-decoration inherit