@import 'nib'

@import 'login.import.styl'
@import 'my/card/my_card.import.styl'
@import 'my/my_note_list.import.styl'

@import 'note/note_list.import.styl'
@import 'journey_list.import.styl'
@import 'product_list.import.styl'
@import 'say_list.import.styl'

@import 'note/note_detail.import.styl'
@import 'note/note_creator.import.styl'
@import 'note/note_updater.import.styl'

@import 'common/favorite_button.import.styl'

a
  color inherit
  text-decoration inherit