<template name="noteDetail">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-note" data-note-id="{{note._id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{note.title}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="note-detail">

        <div id="picture-carousel">
          {{#each note.pictures}}
            <div>
              <img src="{{this}}">
            </div>
          {{/each}}
        </div>

        {{#ionItem iconLeft=true iconRight=true class="item-text-wrap"}}
          <label>
            {{note.title}}
          </label>
          <label>
            <a href="{{ownerUrl note}}">
              {{ownerName note}}
            </a>
          </label>
          <label>
            {{dateString note}}
          </label>
        {{/ionItem}}

        <div>
          {{note.content}}
        </div>

        <!--<div class="padding product-detail-comments">-->
          <!--<h5>Comments</h5>-->
          <!--<button class="button button-positive button-small button-circle button-new-comment" data-action="new-comment">-->
            <!--{{>ionIcon icon="plus"}}-->
          <!--</button>-->
        <!--</div>-->

        <!--<div class="list">-->
          <!--{{#each comments}}-->
            <!--{{> _comment}}-->
          <!--{{/each}}-->
        <!--</div>-->

      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
