@require 'nib'

#note-carousel
  height 100%
  .slick-dots
    absolute bottom 50px
  .slick-list
    height 100%
    .slick-track
      height 100%
      .slick-slide
        height 100%
        background-color red
        .picture-container
          display flex
          size 100%
          .first-picture
            max-width 100%
            max-height 100%
            width auto
            height auto
            margin auto
        .title-container
          absolute bottom 0
          size 100% 50px
          background-color black
          opacity 0.3
          label
            color white