<template name="noteList">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{stringNote}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <!--{{#ionList}}-->
          <!--{{#each notes}}-->
              <!--{{> noteItem note=this path="note.detail"}}-->
          <!--{{/each}}-->
      <!--{{/ionList}}-->

      <div class="note-carousel">
        {{#ionSlideBox showPager=true}}
          {{#each notes}}
            {{>noteCarouselItem}}
          {{/each}}
        {{/ionSlideBox}}
      </div>


    {{/ionContent}}

    {{>tabs}}

  {{/ionView}}

</template>
