<template name="noteDetail">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-note" data-note-id="{{_id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="note-detail">

        <div id="picture-carousel">
          {{#each pictures}}
            <div>
              <img src="{{this}}">
            </div>
          {{/each}}
        </div>

        {{#ionItem iconLeft=true iconRight=true class="item-text-wrap"}}
          <label>
            {{title}}
          </label>
          <label>
            <a href="{{ownerUrl this}}">
              {{ownerName this}}
            </a>
          </label>
          <label>
            {{dateString this}}
          </label>
        {{/ionItem}}

        <div>
          {{content}}
        </div>

        <!--<div class="padding product-detail-comments">-->
          <!--<h5>Comments</h5>-->
          <!--<button class="button button-positive button-small button-circle button-new-comment" data-action="new-comment">-->
            <!--{{>ionIcon icon="plus"}}-->
          <!--</button>-->
        <!--</div>-->

        {{#if currentUser}}
          {{>commentFormToggle}}
        {{/if}}

        {{>comments}}

      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
