<template name="noteDetail">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-note" data-note-id="{{_id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{stringNote}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="note-detail">

        <div class="picture-carousel">
          {{#ionSlideBox showPager=true}}
            {{#each pictures}}
              <div class="picture-container">
                <img class="picture" src="{{this}}">
              </div>
            {{/each}}
          {{/ionSlideBox}}
        </div>

        <div class="title-container">
          <label class="title">{{title}}</label>
          <label class="owner">
            <a href="{{ownerUrl owner}}">
              {{ownerName owner}}
            </a>
          </label>
          <label class="date">{{dateString date}}</label>
        </div>

        <div class="content-container ">
          {{content}}
        </div>

        <!--<div class="padding product-detail-comments">-->
          <!--<h5>Comments</h5>-->
          <!--<button class="button button-positive button-small button-circle button-new-comment" data-action="new-comment">-->
            <!--{{>ionIcon icon="plus"}}-->
          <!--</button>-->
        <!--</div>-->

        {{> commentsBox id=_id content=commentStrings customTemplate='noteCommentBox'}}

      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
