<template name="tabs">

  {{#ionTabs style="ios"}}
    {{> ionTab title="潜迷游记" path="note" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
    {{> ionTab title="官方行程" path="journey" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive"}}
    {{> ionTab title="官方商城" path="shop" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
    {{> ionTab title="七嘴八舌" path="say" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
  {{/ionTabs}}

</template>