.user-list-item
  padding 10px
  background white
  .item-content
    display flex
    .avatar-container
      size-all 60px
      @import '../../../lib/common/client/views/user_avatar.import.styl'
    .user-name
      color #898a8b
      font-weight bold
      margin-left 1em
      margin-top auto
      margin-bottom auto