size-all()
  if length(arguments) == 1
    width arguments[0]
    height arguments[0]
    max-width arguments[0]
    max-height arguments[0]
    min-width arguments[0]
    min-height arguments[0]

.my-card
  .top
    padding 1em
    display flex
    .avatar
      flex 1
      margin auto
      size-all 80px
      img
        size 100%
    .base-info
      flex 1
      margin-left 1em
      margin-right 1em
      a
        display block
    .qr-code
      flex 1
      margin auto
      size-all 80px
      img
        size 100%
  .list
    .item
      padding-top 0.5em
      padding-bottom 0.5em

