<template name="myCardSignature">

  {{#contentFor "headerTitle"}}
    <h1 class="title">签名</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="save-signature">保存</button>
  {{/contentFor}}

  {{#ionView class='my-card-signature'}}

    {{#ionContent}}
      <textarea class="padding" autofocus rows="5" maxlength="100" placeholder="签名">{{signature}}</textarea>
    {{/ionContent}}

  {{/ionView}}

</template>