<template name="myCard">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{strMyCard}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" href=backRouteToMain text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="logout">登出</button>
  {{/contentFor}}

  {{#ionView class='my-card'}}

    {{#ionContent}}

      <div class="top">
        <div class="avatar" data-action="change-avatar">
          <img src="/images/default_avatar.png">
        </div>
        <div class="base-info">
          <a href="/my/card/nickname">{{nickname}}</a>
          <a href="/my/card/location">{{location}}</a>
        </div>
        <div class="qr-code">
          <a href="{{userUrl owner}}">
            <img src="/images/default_avatar.png">
          </a>
        </div>
      </div>

      {{#ionList}}

        {{#ionItem path="my.card.qq" iconRight=true}}
          QQ：{{qq}}
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="my.card.wechat" iconRight=true}}
          微信：{{wechat}}
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="my.card.mobile" iconRight=true}}
          手机号：{{mobile}}
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="my.card.signature" iconRight=true}}
          签名：{{signature}}
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

      {{/ionList}}

    {{/ionContent}}

    {{>myTabBar}}

  {{/ionView}}

</template>