.post-list
  .item-list
    @import '../../../modules/product/client/views/user_item.import.styl'
.post-detail
  .more-detail
    @import '../../../modules/product/client/views/more_detail.import.styl'