.product.user-item
  background #f8fbfd
  display flex
  padding 0.5em
  border-bottom solid 1px #badef1
  .left-box
    flex 1
    size-all 80px
    img
      size 100%
  .middle-box
    flex 5
    margin-left 0.5em
    .title
      color #2b9ad5
      font-weight bold
    .user-date
      color #898a8b
    .count
      color #a3ce5f
      label
        font-size 0.8em
  .right-box
    margin-left 0.5em
    flex 2
    .price
      color #ed9606
      font-size 1.6em
      font-weight bold
