<template name="userProductItem">

  <div class='product-item user'>
    <div class="left-box">
      {{#if firstPictureThumb}}
        <img src={{firstPictureThumb}}>
      {{/if}}
    </div>
    <div class="middle-box">
      <label class="title">{{title}}</label>
      <div class="user-date">
        <label class="user">{{userName user}}</label>
        <label class="date">{{dateString date}}</label>
      </div>
      <div class="count">
        <label class="viewCount">阅读数：{{viewCount}}</label>
        <label class="commentCount">评论数：{{commentCount}}</label>
      </div>
    </div>
    <div class="right-box">
      <label class="price">￥{{price}}</label>
    </div>
  </div>

</template>
