<template name="userProductItem">

  <div class='product-item user'>
    <div class="user-box">
      <div class="avatar-container">
        {{>userAvatar}}
      </div>
      <a href="{{userUrl owner}}">
        {{userName owner}}
      </a>
    </div>
    <div class="right-box">
      <div class="title-container">
        <label class="title">{{title}}</label>
        <label class="date">{{dateString date}}</label>
      </div>
      <div class="content-container">
        <table>
          <tr>
            <td>地点：{{location}}</td>
            <td>费用：{{cost}}</td>
          </tr>
          <tr>
            <td>级别要求：{{level}}</td>
            <td>人数：{{peopleCount}}（{{peopleCount}}/{{peopleCountMax}}）</td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
  </div>

</template>
