<template name="commonCommentBox">
  <div class="comments-box">
    <div class="ui comments">

      {{#if currentUser}}
        {{> commonCommentTextarea }}
      {{/if}}

      {{#each comment}}
        {{> commonCommentSingle }}
      {{/each}}

      {{#if hasMoreComments}}
        <div class="ui fluid green loadmore-action button">加载更多</div>
      {{/if}}
    </div>
  </div>
</template>

<template name="commonCommentSingle">
  <div data-id="{{_id}}" class="comment">
    <div class="avatar-container">
      {{> userAvatar userId}}
    </div>
    <div class="right-box">
      <div class="author-bar">
        <a class="author" href="{{userUrl userId}}">{{userName userId}}</a>
      </div>
      <div class="text comment-content" data-id="{{commentId}}">
        {{content}}
      </div>
      <div class="actions">
        {{#if isOwnComment}}
          <a class="remove-action">删除</a>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="commonCommentTextarea">
  <form class="ui reply form comment-form">
    <div class="field">
      <input type="text"
        placeholder="你有什么想表达的..."
        class="create-comment">
    </div>
    <button class="send-button button button-clear button-positive">发送</button>
  </form>
</template>