.image-item
  .image-container
    background #cccccc
    width 100%
    height 200px
    display flex
    img
      margin auto
  .title-container
    padding-top 0.35em
    size 100% 2em
    background-color #a3ce5f
    label
      color white
      position absolute
    .title
      left 1em
    .user
      right 7em
    .date
      right 1em