.search-bar
  background #EAEBED
  text-align center
  padding 10px
  height 50px
  .search-button
    color #9B9B9B
    text-align center
    background-color white
    border-radius 10px
    border-style none
    width 100%
    min-height 0
    height 30px
    font-size 14px
    line-height 30px
    vertical-align top
    .icon:before
      font-size 18px
      line-height 30px