.image-item-note
  margin-bottom 10px
  position relative
  width 100%
  height 240px
  background-color #fff
  box-shadow 0 2px 2px rgba(0,0,0,0.1)
  z-index 1
  .image-container
    display flex
    width 100%
    height 205px
    overflow hidden
    img
      margin auto
      width 100%
  .title-container
    position absolute
    left 0
    bottom 0
    size 100% 2em
    height 95px
    background-color transparent
    label
      position absolute
    .title
      position relative
      display block
      padding 8px 5%
      width 100%
      height 60px
      color #fff
      font-size 20px
      line-height 22px
      background-color rgba(0,0,0,0.4)
    .banner
      height 35px
      background-color #fff
      color #CBCBCB
      .user,.date
        position relative
        display block
        padding 0 10%
        height 35px
        width 50%
        float left
        line-height 35px
        .icon-heart,.icon-answer
          display inline-block
          width 24px
          height 24px
          margin-right 5px
          vertical-align middle
        .icon-heart:before,.icon-answer:before
          vertical-align top
          font-family "Dive"
          font-size 20px
          line-height 22px
          color #cbcbcb
        .icon-heart:before
          content "\e604"
        .icon-answer:before
          content "\e602"