<template name="noteDetailContent">

      <div class="note-detail">

        <!--{{#if hasPicture}}-->
          {{>pictureCarousel}}
        <!--{{/if}}-->

        <div class="titles">
            <!--文章标题-->
            <label class="title">{{title}}</label>
            <!--副标题-->
            <div class="subtitle">
              <label class="date">{{dateString date}}</label>
              <!--<div class="userbox">-->
              <label class="user">
                  <a href="{{userUrl user}}">
                    {{userName user}}
                  </a>
              </label>
              <div class="avatar-user">
                {{>userAvatar user}}
              </div>
              <!--</div>-->
            </div>
        </div>

        <!--<div class="title-container">-->


          <!--<label class="date">{{dateString date}}</label>-->
        <!--</div>-->

        <!--<div class="userbox">-->
          <!--<label class="user">-->
            <!--<a href="{{userUrl user}}">-->
              <!--{{userName user}}-->
            <!--</a>-->
          <!--</label>-->
          <!--<div class="avatar-user">-->
            <!--{{>userAvatar user}}-->
          <!--</div>-->
        <!--</div>-->


        {{#if content}}
          <div class="content-container ">
            {{content}}
          </div>
        {{/if}}

        <div class="more-detail">
          {{#if moreDetailTemplate}}
            {{>Template.dynamic template=moreDetailTemplate}}
          {{/if}}
        </div>

        {{#if this}}
          {{>commentsBox id=_id content=commentStrings customTemplate='commonCommentBox'}}
        {{/if}}

      </div>

</template>
