<template name="myTabBar">

  {{#ionTabs style="ios" class='my-tab-bar'}}

    {{> ionTab title=strMyNote path="my.note.list" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
    {{> ionTab title=strMyJourney path="my.journey.list" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive"}}
    {{> ionTab title=strMyCard path="my.card" iconOff="happy-outline" iconOn="happy" class="tab-item-positive"}}
    {{> ionTab title=strMyProduct path="my.product.list" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
    {{> ionTab title=strMySay path="my.say.list" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}

  {{/ionTabs}}

</template>