.note-detail
  width 100%
  .favorite-button
    absolute right 0 top 0
  @import 'common/favorite.import.styl'
  .picture-carousel
    height 200px
    .ion-slide-box
      height 100%
      .slick-list
        height 100%
        .slick-track
          height 100%
          .slick-slide
            height 100%
            background-color white
            display flex
            .picture
              max-width 100%
              max-height 100%
              width auto
              height auto
              margin auto
  .title-container
    padding-top 0.35em
    size 100% 2em
    background-color #a3ce5f
    label
      color white
      position absolute
    .title
      left 1em
    .owner
      right 7em
    .date
      right 1em
  .content-container
    padding 0.3em 1em
    opacity 0.6

  @import 'note_comment_box.import.styl'