<template name="noteList">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{strNote}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="userProfile">
    {{> ionIcon icon='ios-person-outline'}}
    </button>
  {{/contentFor}}

  {{#ionView class='note-list'}}
    {{#ionContent}}

      <div class='note-item-list'>
        {{#each list}}
          {{> imageItem}}
        {{/each}}
      </div>

      {{#if hasMore}}
        <button class="loadmore-button">
          点击加载更多
        </button>
      {{/if}}

    {{/ionContent}}

    {{>tabBar creator='noteCreator'}}

  {{/ionView}}

</template>
