.comments-box
  padding 0
  max-width 100%
  .comments
    padding-top 0
  .title-bar
    padding-left 1em
    padding-right 1em
    background #f4f4f4
    label
      color: #bab7b1
      font-size: 0.8em
  .comment-form
    display flex
    .field
      flex 1
      textarea
        min-height 3.5em
        padding-left 1em
        padding-right 1em
    button
      min-height 3em
  .comment
    display flex
    padding 0.2em 1em
    border-bottom solid 1px #f5f4f3
    .avatar-container
      size 4em
      @import 'user_avatar.import.styl'
    .author-bar
      display inline
      .author
        color #2b9ad5
      .actions
        display inline
        color #959387
    .comment-content
      color #959387
  .loadmore-action
    margin 0
    width 100%