.image-uploader
  .input-label
    display inline-block
    margin 1px
    clear left
    padding 0
    max-width 96px
    width 96px
    max-height 96px
    height 96px
    font-size 67px
    text-align center
    .image-input
      fixed top -1000px
    background #C3C3C3
  @import 'common/image_uploaded.import.styl'