.image-box
  width 96px
  max-width 96px
  height 96px
  max-height 96px
  display inline-block
  margin 1px
  float left
  .inner-box
    width 100%
    height 100%
    position relative
    .delete.button
      absolute top 0 left 0
    .upload-progress-bar
      absolute bottom 0
      width 100%
