<template name="search">

  {{#contentFor "headerTitle"}}
    <h1 class="title">搜索{{label}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-light" text=false}}
  {{/contentFor}}

  {{#ionView class='search'}}
    {{#ionContent}}

      {{>esInput index=indexes placeholder=placeholder class='query-input' reactive='false' event='enter'}}

      {{#ionList}}

        {{#esEach index=indexes}}

          {{#ionItem class='result-item post' id=_id category=category}}
            {{title}}
          {{/ionItem}}

        {{/esEach}}
      {{/ionList}}

      {{>esLoadMoreButton index=indexes}}

      {{#ifEsHasNoResults index=indexes}}
        <div class="no-results">没有结果。</div>
      {{/ifEsHasNoResults}}

      {{#ifEsIsSearching index=indexes}}
        <div class="result-loading">加载中...</div>
      {{/ifEsIsSearching}}

    {{/ionContent}}
  {{/ionView}}

</template>