.search
  .types-container
    display flex
    height 3em
    .type-tab
      flex 1
      text-align center
      padding-top 0.9em
      background #e0f1fd
      color #2b9ad5
    .type-tab.selected
      background #2b9ad5
      color #FFF
  .query-input
    padding 16px
    height 4em
  .result-loading
  .no-results
    text-align center