<template name="search">

  {{#contentFor "headerTitle"}}
    <h1 class="title">搜索</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-light" text=false}}
  {{/contentFor}}

  {{#ionView class='search'}}
    {{#ionContent}}

      <div class="types-container">
        {{#each tabs}}
          <a class="type-tab {{this}} {{isSelect this}}">{{label this}}</a>
        {{/each}}
      </div>

      <div class="tab-view-container">

        {{#each tabs}}

          <div class="tab-view {{this}} {{isHidden}}">

            {{>esInput index=indexes placeholder=placeholder class='query-input' reactive='false' event='enter'}}

            {{#ionList}}

              {{#esEach index=indexes}}

                {{#if isPost ..}}
                  {{#ionItem class='result-item post' id=_id category=category}}
                    {{title}}
                  {{/ionItem}}
                {{/if}}

                {{#if isProfile ..}}
                  {{#ionItem class='result-item profile' user=user}}
                    {{nickname}}
                  {{/ionItem}}
                {{/if}}

              {{/esEach}}
            {{/ionList}}

            {{>esLoadMoreButton index=indexes}}

            {{#ifEsHasNoResults index=indexes}}
              <div class="no-results">没有结果。</div>
            {{/ifEsHasNoResults}}

            {{#ifEsIsSearching index=indexes}}
              <div class="result-loading">加载中...</div>
            {{/ifEsIsSearching}}

          </div>

        {{/each}}

      </div>

      
    {{/ionContent}}
  {{/ionView}}

</template>