<template name="search">

  {{#contentFor "headerTitle"}}
    <h1 class="title">搜索</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-light" text=false}}
  {{/contentFor}}

  {{#ionView class='search'}}
    {{#ionContent}}

      <div class="types-container">
        {{#with 'all'}}
          <a class="type-tab {{this}} {{isSelect this}}">全部</a>
        {{/with}}
        {{#each postCategories}}
          <a class="type-tab {{this}} {{isSelect this}}">{{postCategoryLabel this}}</a>
        {{/each}}
        {{#with 'profile'}}
          <a class="type-tab {{this}} {{isSelect this}}">用户</a>
        {{/with}}
      </div>

      {{> esInput index=indexes placeholder=placeholder class='query-input' event='enter'}}
    
      {{#ionList}}
        {{#each postCategories}}
          {{#esEach index=postIndex}}
            {{#ionItem class='result-item post' id=_id category=category}}
              {{postCategoryLabel category}}：{{title}}
            {{/ionItem}}
          {{/esEach}}
        {{/each}}

        {{#esEach index='profiles'}}
          {{#ionItem class='result-item profile' user=user}}
            用户：{{nickname}}
          {{/ionItem}}
        {{/esEach}}
      {{/ionList}}

      {{> esLoadMoreButton index=indexes}}

      {{#ifEsHasNoResults index=indexes}}
        <div class="no-results">没有结果。</div>
      {{/ifEsHasNoResults}}

      {{#ifEsIsSearching index=indexes}}
        <div class="result-loading">加载中...</div>
      {{/ifEsIsSearching}}
      
    {{/ionContent}}
  {{/ionView}}

</template>