@import 'qr.import.styl'

.ionic-body
  .nav-bar-block
    [data-action="share"]
      right 2.5em

.profile
  @import '../common/tab_bar.import.styl'
  .content
    background-color #f4f4f4
    color #999
    .top
      padding 17px 12px
      display flex
      background-color #fff
      border-top 1px solid #ddd
      border-bottom 1px solid #ddd
      overflow hidden
      margin 10px 0
      .avatar
        float left
        flex 1
        margin auto
        size-all 96px
        border 1px solid #ddd
        border-radius 4px
        padding 0
        background 0
        .progress-container
          position absolute
          width 100%
          height 100%
          display flex
          background #FFF
          .progress
            font-size 20px
            margin auto
        img
          size 100%
      .base-info
        float left
        flex 1
        margin-left 1em
        margin-right 1em
        a
          display block
        .nickname
          color #2b9ad5
      .qr-code
        float right
        display block
        flex 1
        margin-top 15px;
        margin-right 25px
        size-all 68px
        canvas
          size 100%
          opacity 0.4
    .list
      margin-top 20px
      padding 10px 0
      background-color #fff
      border-top 1px solid #ddd
      border-bottom 1px solid #ddd
      .item
        margin 0 20px
        padding-top 0.5em
        padding-bottom 0.5em
        line-height 24px
        border none
        border-bottom 1px solid #f5f5f5
      .item:last-child
        border none
    .label
      display inline-block
      width 65px
      color #2b9ad5
  .profile-input
    padding 10px