<template name="profileMain">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{#unless isMe}}
      {{>ionNavBackButton class="button-light" text=false}}
    {{/unless}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

    <button class="button button-clear pull-right button-light" data-action="share">
      {{> ionIcon icon='share'}}
    </button>

    {{#if isMe}}
      <button class="button button-clear pull-right button-light" data-action="back-to-main" data-nav-direction>
        {{> ionIcon icon='dive-icon-main' class='dive-icon'}}
      </button>
    {{else}}
      {{#if currentUser}}
        {{>favoriteButton _id=user category='user'}}
      {{/if}}
    {{/if}}
  {{/contentFor}}

  {{#contentFor "popup"}}
    {{>photoswipe}}
  {{/contentFor}}

  {{#ionView class='profile'}}

    {{#ionContent}}

      <div class="top">
        <div class="avatar">
          <div class="progress-container">
            <label class="progress">0%</label>
          </div>
          <img class="image" src={{avatarUrl user}}>
        </div>
        <div class="base-info">
          <a class="nickname" href={{nicknameEditorUrl}}>{{nickname}}</a>
          <a href={{locationEditorUrl}}>{{location}}</a>
        </div>
        <a href="/profile?type=qr&user={{user}}" class="qr-code"></a>
      </div>

      {{#ionList}}

        {{#ionItem href=certificatePath iconRight=true}}
          <span class="label">证书</span>
          {{>ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#each lines}}
          {{#ionItem href=href iconRight=true}}
            <span class="label">{{label}}：</span>{{data}}
            {{>ionIcon icon=icon}}
          {{/ionItem}}
        {{/each}}

        {{#if isMe}}
          {{#ionItem href=myFavoriteUsersPath iconRight=true}}
            <span class="label">我的好友</span>
            {{>ionIcon icon='ios-arrow-right'}}
          {{/ionItem}}
          {{#ionItem href='/changePwd' iconRight=true}}
            <span class="label">修改密码</span>
            {{>ionIcon icon='ios-arrow-right'}}
          {{/ionItem}}
          {{#ionItem href='/resendVerificationEmail' iconRight=true}}
            <span class="label">重发验证邮件</span>
            {{>ionIcon icon='ios-arrow-right'}}
          {{/ionItem}}
          {{#ionItem class='logout-item'}}
            <button class="logout button button-block button-assertive" data-action="logout">登出</button>
          {{/ionItem}}
        {{/if}}

      {{/ionList}}

    {{/ionContent}}

    {{>tabBar}}

  {{/ionView}}

</template>