<template name="profileNickname">

  {{#contentFor "headerTitle"}}
    <h1 class="title">昵称</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-light" data-action="save-nickname">保存</button>
  {{/contentFor}}

  {{#ionView class='profile nickname'}}

    {{#ionContent}}
      <input class="profile-input" autofocus type="text" maxlength="10" placeholder="请输入您的昵称，最多10个字" value={{nickname}}>
    {{/ionContent}}

  {{/ionView}}

</template>