.post-detail
  width 100%
  @import '../../../lib/common/client/views/picture_carousel.import.styl'
  .title-container
    padding-top 0.35em
    size 100% 2em
    background-color #a3ce5f
    label
      color white
      position absolute
    .title
      left 1em
    .owner
      right 7em
    .date
      right 1em
  .content-container
    padding 0.3em 1em
    opacity 0.6

  @import '../../../lib/common/client/views/comment_box.import.styl'
