.post-list
  .category2-container
    display flex
    height 3em
    .category2
      flex 1
      text-align center
      padding-top 0.9em
      background #e0f1fd
      label
        color #2b9ad5
      .selected
        background #2b9ad5
        label
          color #FFF

  @import '../../../lib/common/client/views/tab_bar.import.styl'
  @import '../../../lib/post/client/views/list_loader.import.styl'