@require '../../../lib/post/client/views/list.import.styl'
@require '../../../lib/post/client/views/detail.import.styl'
@require '../../../lib/post/client/views/creator.import.styl'
@require '../../../lib/post/client/views/updater.import.styl'
@require '../../../lib/post/client/views/search.import.styl'
