.tab-bar
  .tabs
    background #36618e
    .tab-item
      color #aadeff
    .tab-item.active
      color white
    .add-button
      color #aadeff
      position absolute
      top 0
      left 0
      right 0
      margin auto
      padding 0
      width 50px
      .icon:before
        font-size 50px