.tab-bar
  .tabs
    background #36618e
    .tab-item
      opacity 1
      color white
      font-family SimHei
      .icon
        filter brightness(0) invert(1)
      .ion-dive-note
        background url(/images/icondive-noteon.svg) no-repeat center
        background-size 24px 24px
      .ion-dive-journey
        background url(/images/icondive-journeyon.svg) no-repeat center
        background-size 24px 24px
      .ion-dive-product
        background url(/images/icondive-producton.svg) no-repeat center
        background-size 24px 24px
      .ion-dive-say
        background url(/images/icondive-sayon.svg) no-repeat center
        background-size 24px 24px
    .tab-item.active
      color #aadeff
      .icon
        filter none
    .add-button
      color #aadeff
      position absolute
      top 0
      left 0
      right 0
      margin auto
      padding 0
      width 50px
      .icon:before
        font-size 50px