.tab-bar
  .tabs
    background #36618e
    .tab-item
      opacity 1
      color white
      font-family SimHei
      line-height 12px
      .icon
        height 34px
      .icon:before
        font-size 30px
        font-family "Dive"
        line-height 34px
        color #fff
      .ion-dive-note:before
        content "\e603"
      .ion-dive-journey:before
        content "\e600"
      .ion-dive-product:before
        content "\e605"
      .ion-dive-say:before
        content "\e601"
    .tab-item.active
      color #2E5C8D
      background-color #81BEFF
      .icon:before
        color #2E5C8D
    .add-button
      position absolute
      top 0
      left 0
      right 0
      margin auto
      padding 0
      width 50px
      font-size 12px
      line-height 12px
      color #fff
      .ion-dive-plus
        display block
        position relative
        margin 0 auto
        height 44px
        width 44px
        background-color #fff
        border-radius 3px
        z-index 1
      .ion-dive-plus:before,.ion-dive-plus:after
        content:""
        position absolute
        margin 0 auto
        display block
        background #36618e
        z-index 2
      .ion-dive-plus:before
        top 10px
        left 17px
        width 10px
        height 24px
      .ion-dive-plus:after
        top 17px
        left 10px
        width 24px
        height 10px