@require '../../../lib/common/client/views/helpers.import.styl'
@import '../../../modules/my_card/client/views/my_card_qr.import.styl'

.my-card
  .top
    padding 1em
    display flex
    .avatar
      flex 1
      margin auto
      size-all 80px
      img
        size 100%
    .base-info
      flex 1
      margin-left 1em
      margin-right 1em
      a
        display block
    .qr-code
      flex 1
      margin auto
      size-all 80px
      canvas
        size 100%
  .list
    .item
      padding-top 0.5em
      padding-bottom 0.5em

